:host{
    display: flex;
    justify-content: center;
}
.container-card{
    margin-top: 150px;
}
.mat-form-field{
  width: 100%;
}
.input-group{
    display: flex;
}
mat-card-title{
    text-align: center;
}
.mat-card-actions{
    display: flex;
    justify-content: flex-end;
}